In [2]:
import pandas as pd
from conexao import get_engine

engine = get_engine()

# Ler tabelas
clientes = pd.read_sql("SELECT * FROM etl_course.clientes", engine)
pedidos = pd.read_sql("SELECT * FROM etl_course.pedidos", engine)

print(clientes.head())
print(pedidos.head())

postgresql+psycopg2://postgres:postgres@localhost:5432/sql_etl_course
   id            nome                     email          cidade
0   1       Ana Souza       ana.souza@email.com       São Paulo
1   2      Bruno Lima      bruno.lima@email.com  Rio de Janeiro
2   3    Carla Mendes    carla.mendes@email.com  Belo Horizonte
3   4  Diego Ferreira  diego.ferreira@email.com    Porto Alegre
4   5   Elisa Martins   elisa.martins@email.com        Curitiba
   id  cliente_id  valor data_pedido
0   1           1  250.0  2023-01-10
1   2           1  320.0  2023-03-15
2   3           2  150.0  2023-02-05
3   4           2  180.0  2023-04-12
4   5           2  210.0  2023-06-20

Valor total por cliente

In [3]:
valor_total = pedidos.groupby("cliente_id")["valor"].sum().reset_index()
df = clientes.merge(valor_total, left_on="id", right_on="cliente_id", how="left")
print(df[["nome", "valor"]])

             nome   valor
0       Ana Souza   570.0
1      Bruno Lima   540.0
2    Carla Mendes  1550.0
3  Diego Ferreira   220.0
4   Elisa Martins   900.0

Primeiro pedido por cliente

In [5]:
pedidos["primeiro_pedido"] = pedidos.groupby("cliente_id")["data_pedido"].transform("min")
print(pedidos.head())

   id  cliente_id  valor data_pedido primeiro_pedido
0   1           1  250.0  2023-01-10      2023-01-10
1   2           1  320.0  2023-03-15      2023-01-10
2   3           2  150.0  2023-02-05      2023-02-05
3   4           2  180.0  2023-04-12      2023-02-05
4   5           2  210.0  2023-06-20      2023-02-05

Diferença em dias entre pedidos

In [7]:
pedidos["data_pedido"] = pd.to_datetime(pedidos["data_pedido"])
pedidos["dias_diff"] = pedidos.groupby("cliente_id")["data_pedido"].diff().dt.days
print(pedidos.head())

   id  cliente_id  valor data_pedido primeiro_pedido  dias_diff
0   1           1  250.0  2023-01-10      2023-01-10        NaN
1   2           1  320.0  2023-03-15      2023-01-10       64.0
2   3           2  150.0  2023-02-05      2023-02-05        NaN
3   4           2  180.0  2023-04-12      2023-02-05       66.0
4   5           2  210.0  2023-06-20      2023-02-05       69.0